@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}


.gradient-indicator {
  background: linear-gradient(45deg, #6366F1, #8B5CF6);
}
.gradient-indicator-inactive {
  background: linear-gradient(45deg, #C7D2FE, #DDD6FE);
  opacity: 0.7;
}

/* Custom animation classes */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(1.4, 0, 0.2, 1);
}

.transform {
  transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.hide-scroll {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE/Edge */
}

.hide-scroll::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

.hide-scroll-y::-webkit-scrollbar {
  width: 0;
}

.hide-scroll-x::-webkit-scrollbar {
  height: 0;
}


